        <footer class="site-footer">
            <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                <h6>About</h6>
                <p class="text-justify">This website was created as part of my training as an Application Designer and Developer at MyDigitalSchool. During my NodeJs module, we were asked to create a website using the JavaScript language with the NodeJs library and the ExpressJs framework. I chose an API based on the Star Wars theme because I love the saga and thought it would be nice to combine usefulness with enjoyment.</p>
                </div>

                <div class="col-xs-6 col-md-3">
                <h6>Categories</h6>
                <ul class="footer-links">
                    <li><a href="/people">Peoples</a></li>
                    <li><a href="/planets">Planets</a></li>
                    <li><a href="/starships">Starships</a></li>
                    <li><a href="/vehicles">Vehicles</a></li>
                    <li><a href="/films">Films</a></li>
                </ul>
                </div>

                <div class="col-xs-6 col-md-3">
                <h6>Quick Links</h6>
                <ul class="footer-links">
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                </ul>
                </div>
            </div>
            <hr>
            </div>
            <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">Copyright &copy; 2023 produced by 
            <a href="#">Thibault Dequidt</a>.
                </p>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="social-icons">
                    <li><a class="instagram" href="#"><i class="bi bi-instagram"></i></a></li>
                    <li><a class="twitter" href="#"><i class="bi bi-twitter"></i></a></li>
                    <li><a class="linkedin" href="#"><i class="bi bi-linkedin"></i></a></li>   
                </ul>
                </div>
            </div>
            </div>
        </footer>
    </body>
</html>