<header>
  <nav class="nav-container">
    <div>
      <img
        class="logo-star-wars"
        src="/images/star-wars-logo-974.png"
        alt="Logo de la saga Star Wars"
      />
    </div>
    <ul class="nav-list">
      <li><a href="/" name="Home">Home</a></li>
      <li><a href="/people" name="People">People</a></li>
      <li><a href="/planets" name="Planets">Planets</a></li>
      <li><a href="/starships" name="Starships">Starships</a></li>
      <li><a href="/vehicles" name="Vehicles">Vehicles</a></li>
      <li><a href="/films" name="Films">Films</a></li>
    </ul>
  </nav>
</header>
