<%- include('../components/header.ejs') -%>
<%- include('../components/nav.ejs') -%>
<main>
    <div class="home-container">
        <p class="home-text"> In the Star Wars saga, there are many elements to discover throughout the various films. This website has been designed so that you can find the information you want, such as images of characters, spaceships, or planets. You can also find the different films on a chronological timeline. Enjoy your visit.</p>
    </div>
</main>
<%- include('../components/footer.ejs') -%> 

    


